.post{
    background:   var(--gray-700) ;
    border-radius: 8px;
    padding: 2rem;
}

.author{
    display: flex;
    gap:1rem;
}

.author img{
    width: 3rem;
    height:3rem;
    border-radius:8px;
    border: 3px solid var(--gray-900);
}

.authorInfo strong{
    display: block;
    line-height: 1.6;
    color: var(--gray-100);
}

.authorInfo span{
    display: block;
    line-height: 1.6;
    color: var(--gray-400);
    font-size: 0.8rem;
}

.conteudo{
    line-height:1.6;
    color: var(--gray-300);
    margin-top: 1.5rem;
}

.conteudo p{
    margin-top:1rem;  
}

.conteudo a{
    font-weight: bold;
    color: var(--green-500);
    text-decoration: none;

}

.conteudo a:hover{
    color: var(--green-300);
}

.commentsForm{
    width:100%;
color: var(--gray-300);
}


















